/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

Site layout body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100svh;
  background-color: rgb(234, 234, 234);
}
*/ header {
  background-color: aliceblue;
  padding: 1rem;
}
main {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

footer p {
  text-align: center;
  padding: 1rem;
}
